body {
    margin: 0;
    padding: 0;
}
h1 {
   
}
table {
    width: 100%;
    border-collapse: collapse;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

table, th, td {
    <tr>
		<th>ID</th>
		<th>Nama Depan</th>
		<th>Nama Belakang</th>
		<th>Email 1</th>
        <th>Email 2</th>
        <th>Profesi</th>
	</tr>
    border: 1px solid #ccc;
    padding: 10px;
}
